<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js
    " type="text/javascript"></script>
    <script src="/js/all.js"></script>
    
    <script defer src="/js/blues.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>blues | name</title>
    <link rel="shortcut icon" href="/media/misc/favicon.png">
</head>

<body>
    <div class="styles__background___2J-JA-camelCase">
        <div class="styles__bluesBackground___3oQ7Y-camelCase" style="background-image: url(&quot;/media/misc/background.png&quot;);  animation: animatedBackground 9s linear infinite;
    -moz-animation: animatedBackground 9s linear infinite;
    -webkit-animation: animatedBackground 9s linear infinite;
    -ms-animation: animatedBackground 9s linear infinite;
    -o-animation: animatedBackground 9s linear infinite;"></div>
    </div>
    <div class="styles__topRightRow___dQvxc-camelCase">
        <div class="styles__profileContainer___CSuIE-camelCase" role="button" tabindex="0">
            <div class="styles__profileRow___cJa4E-camelCase">
                <div style="position: relative"
                    class="styles__blookContainer___36LK2-camelCase styles__profileBlook___37mfP-camelCase">
                    <img src="" id='pfpimg' draggable="false" class="styles__blook___1R6So-camelCase">
                </div><text class="" style="color: #ffffff" id="usernamedrop">user</text>
            </div><i class="fas fa-angle-down styles__profileDropdownIcon___3iLIX-camelCase" aria-hidden="true"></i>
            <div class="styles__profileDropdownMenu___2jUAA-camelCase">
                <a class="styles__profileDropdownOption___ljZXD-camelCase" href="/logout"><i
                        class="fas fa-sign-out-alt styles__profileDropdownOptionIcon___15VKX-camelCase"
                        aria-hidden="true"></i>Logout</a></div>
        </div>
    </div>
    <div class="styles__sidebar___1XqWi-camelCase">
        <a href="/" class="styles__blooketText___1pMBG-camelCase">name</a>
        <div id="buttons">
            <a class="styles__pageButton___1wFuu-camelCase" href="/stats"><i
                    class="styles__pageIcon___3OSy9-camelCase fas fa-chart-bar" aria-hidden="true"></i>
                <div class="styles__pageText___1eo7q-camelCase">Stats</div>
                <a class="styles__pageButton___1wFuu-camelCase" href="/market"><i
                        class="styles__pageIcon___3OSy9-camelCase fas fa-store" aria-hidden="true"></i>
                    <div class="styles__pageText___1eo7q-camelCase">Market</div>
                </a><a class="styles__pageButton___1wFuu-camelCase" href="/blues"><i
                        class="styles__pageIcon___3OSy9-camelCase fas fa-suitcase" aria-hidden="true"></i>
                    <div class="styles__pageText___1eo7q-camelCase">Blues</div>
                </a><a class="styles__pageButton___1wFuu-camelCase" href="/chat"><i
                        class="styles__pageIcon___3OSy9-camelCase fas fa-comment" aria-hidden="true"></i>
                    <div class="styles__pageText___1eo7q-camelCase">Chat</div>
                </a><a class="styles__pageButton___1wFuu-camelCase" href="/posts"><i
                        class="styles__pageIcon___3OSy9-camelCase fas fa-file" aria-hidden="true"></i>
                    <div class="styles__pageText___1eo7q-camelCase">Posts</div>
                </a><a class="styles__pageButton___1wFuu-camelCase" href="/auction"><i
                        class="styles__pageIcon___3OSy9-camelCase fas fa-building-columns" aria-hidden="true"></i>
                    <div class="styles__pageText___1eo7q-camelCase">Auction</div>
                </a>
        </div>
        <div class="styles__bottomRow___3OozA-camelCase">
            <a data-tip="Credits" class="styles__smallButton___sQuq8-camelCase" href="/credits" currentitem="false"><i
                    class="styles__bottomIcon___3Fswk-camelCase fas fa-address-book" aria-hidden="true"></i></a>
            <a data-tip="Settings" class="styles__smallButton___sQuq8-camelCase" href="/settings" currentitem="false"><i
                    class="styles__bottomIcon___3Fswk-camelCase fas fa-cogs" aria-hidden="true"></i></a>
            <a data-tip="Stats" class="styles__smallButton___sQuq8-camelCase" href="/news" currentitem="false"><i
                    class="styles__bottomIcon___3Fswk-camelCase fas fa-newspaper" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="arts__profileBody___eNPbH-camelCase">
        <div class="styles__left___9beun-camelCase bluesthing">
            <div class="styles__bluesHolder___3qZR1-camelCase" id="bluescontainer">

            </div>
        </div>
        <div class="styles__right___385mx-camelCase">
            <img id="bluebackground" alt="bluebackground" class="blueBackGround" src="/media/misc/bluebackground.png">
            <div class="styles__rightTopText___2VrKK-camelCase">
                <div class="styles__highlightedName___2wOtf-camelCase" style="font-size: 40px;">
                    <div id="bluename"
                        style="display: block; white-space: nowrap;font-family: Titan One,sans-serif;color:#fff">Blulet
                    </div>
                </div>
                <div id="bluerarity" class="styles__highlightedRarity___1EXx_-camelCase"
                    style="color: rgb(255, 255, 255);font-family: Titan One,sans-serif;">Common</div>
            </div>
            <div class="styles__blueContainer___36LK2-camelCase styles__rightblue___1JkY7-camelCase">
                <img id="blueimg" src="/media/misc/favicon.png" alt="Default" draggable="false"
                    class="styles__blue___1R6So-camelCase">
            </div>
            <div id="bluequantity" class="styles__highlightedBottom___QmY2Y-camelCase">Default</div>
            <div class="styles__rightBottom___F7qsO-camelCase"></div>
        </div>
        <div class="styles__rightButtonRow___3a0GF-camelCase">
            <div id="sellblue" class="styles__button___1_E-G-camelCase styles__rightButton___2_ZIX-camelCase"
                role="button" tabindex="0">
                <div class="styles__shadow___3GMdH-camelCase"></div>
                <div class="styles__edge___3eWfq-camelCase" id="edge1" style="background-color: #150c80;"></div>
                <div class="styles__front___vcvuy-camelCase" id="front1" style="background-color: #150c80;">
                    <div class="styles__rightButtonInside___14imT-camelCase"><img src="/media/misc/token.png"
                            alt="Token" class="styles__rightButtonImg___1WJdo-camelCase" draggable="false">Sell</div>
                </div>
            </div>
            <!--         <div id="auctionblue" class="styles__button___1_E-G-camelCase styles__rightButton___2_ZIX-camelCase" role="button" tabindex="0">
                <div class="styles__shadow___3GMdH-camelCase"></div>
                <div class="styles__edge___3eWfq-camelCase" id="edge2" style="background-color: #150c80;"></div>
                <div class="styles__front___vcvuy-camelCase" id="front2" style="background-color: #150c80;">
                    <div class="styles__rightButtonInside___14imT-camelCase"><i style="margin-right:7px" class="fas fa-building-columns"></i>Auction</div>
                </div> -->
        </div>

    </div>
    </div>
</body>